$btn-color: #FFFFFF
$btn-dark-text-color: 000000
$btn-light-text-color: #FFFFFF
$btn-light-background-color: #F5F5F5
$btn-dark-background-color: #808000
$btn-text-size: 20px
$font-family-content: 'Roboto'

*
  padding: 0
  margin: 0

.wrapper
  max-width: 1300px
  margin: 10px auto


a
  color: black
  font-family: $font-family-content

//todo change
input[type=subgmit]
  padding: 5px 20px
  border-radius: 2px
  margin: 25px auto
  background-color: #393F72
  border: none
  color: white
  font-size: 18px


.footer
  height: 40px
  width: 100%
  background: black
  box-shadow: 0px 0px 10px 3px #19392E

.add_btn
  width: 100px
  display: block
  border: 1px solid green
  margin: 20px auto 0 auto
  text-align: center
  text-decoration: none


.loc
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between
  //todo


.active_page
  background-color: #4CAF50
  color: white

.code
  font-size: 11px
  color: gray

.action_delete_btn
  padding: 10px
  border-radius: 10px
  border: none
  background: red
  font-size: 15px
  font-weight: 600
  color: white

.action_edit_btn
  padding: 10px
  border-radius: 10px
  border: none
  background: green
  font-size: 15px
  font-weight: 600
  color: white

.action_btn
  border: 2px solid
  background: transparent
  color: #19392E
  padding: 7px 25px
  font-size: 18px
  margin: 0 auto
  text-decoration: none
  transition: 0.5s
  font-weight: 400


.action_btn :hover
  color: white
  background: #19392E

.error_validation
  text-align: center
  margin: 5px 0px
  color: red
  font-size: 12px