$btn-color: #FFFFFF
$btn-dark-text-color: 000000
$btn-light-text-color: #FFFFFF
$btn-light-background-color: #F5F5F5
$btn-dark-background-color: #808000
$btn-text-size: 20px
$font-family-content: 'Roboto'

*
  padding: 0
  margin: 0


.wrapper
  width: 1400px
  margin: 0 auto


a
  color: black
  font-family: $font-family-content


input[type=submit]
  padding: 5px 20px
  border-radius: 2px
  margin: 25px auto
  background-color: #393F72
  border: none
  color: white
  font-size: 18px


.footer
  height: 80px
  width: 100%
  background: black

.add_btn
  width: 100px
  display: block
  border: 1px solid green
  margin: 20px auto 0 auto
  text-align: center
  text-decoration: none


.loc
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between


.active_page
  background-color: #4CAF50
  color: white