.login_form
  width: 350px
  margin: 80px auto
  display: flex
  flex-direction: column
  flex-wrap: wrap
  gap: 5px
  padding: 25px
  box-shadow: 0px 0px 15px 3px #19392E

.sign_up_form
  width: 500px
  margin: 30px auto
  display: flex
  flex-direction: column
  flex-wrap: wrap
  gap: 5px
  padding: 25px
  box-shadow: 5px 5px 15px 0px gray

.text_field
  width: 300px
  height: 37px
  margin: 0 auto
  outline: none

.login_form label
  width: 300px
  margin: 0 auto

.sign_up_form label
  width: 300px
  margin: 0 auto

.form_description
  text-align: center
