.authors_list
  max-width: 700px
  margin: 60px auto

.author_view_container
  display: flex
  flex-direction: row
  width: 1000px
  box-shadow: 5px 5px 15px 0px gray
  margin: 50px auto

.author_picture
  display: block
  margin: 40px

.author_description
  display: flex
  flex-direction: column
  height: 500px
  width: 100%
  justify-content: space-between

.author_description h2
  text-align: center
  padding: 25px

.action_link
  padding: 5px 5px
  border-radius: 2px
  background-color: #393F72
  border: none
  color: white
  font-size: 18px
  text-decoration: none
  box-shadow: 5px 5px 15px 0px gray

.action_link:hover
  color: white

.action_btn_container
  display: flex
  flex-direction: row
  gap: 5px


.author_form
  width: 650px
  margin: 80px auto
  display: flex
  flex-direction: column
  flex-wrap: wrap
  gap: 5px
  padding: 25px
  box-shadow: 5px 5px 15px 0px gray
